<%- include('./header') %> 
<h1>Pokemon Search Results</h1>
<div class="card" style="width: 18rem;">
  <img src="<%= pokemon.sprites.front_default %>" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title"><%= pokemon.name %></h5>
    <p>Height: <%= pokemon.height %></p>
    <p>Weight: <%= pokemon.weight %></p>
  </div>
  <ul class="list-group list-group-flush">
    <% pokemon.stats.forEach(stat => { %>
    <li class="list-group-item"><%= stat.stat.name %>: <%= stat.base_stat %></li>
    <% }) %>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<%- include('./footer') %> 
